@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   
}

body{
   overflow-x: auto;
   /* background-color: rgb(120, 120, 120); */
}

.mainFloorBody{
   width:100%;
}

.simulation-box{
   /* border-bottom: 3px solid black; */
   padding-bottom: 25px;
   position: sticky;
   display: block;
   top: 0;
   background: transparent;
   z-index: 11;
   background-image: linear-gradient(to bottom, rgb(56, 56, 56), rgba(240, 6, 6, 0)); /* Gradient from solid color to transparent */
   backdrop-filter: blur(2px); /* Applies blur to the background */

}

#liftForm{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.lift-simulation-heading{
   font-family: "Honk", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-variation-settings:
     "MORF" 15,
     "SHLN" 50;
     font-size: 40px;
}


.floor{
   border-bottom: 1px solid #dcdcdc;
   height: 100px;
   display: grid;
   position: relative;
   grid-template-columns: auto auto auto;
   justify-content: start;
   z-index: 10;
   padding-top: 10px;
   padding-bottom: 10px;
   /* display: flex; */
   /* align-items: center; */
   /* overflow-x: auto; */
}

.odd-floor{
   background-color: rgb(238, 238, 238);
}


/* .groundFloor{
   display: flex;
} */

.liftContainer{
   display: inline-flex;
   /* display: inline-block; */
       /* flex-direction:column; */
   /*justify-content: space-around;
   align-items: flex-end; */
   gap: 25px;
   /* margin-left: 71px; */
   height: 100%;
   position: relative;
   width: 100%;
   /* overflow-x: auto; Enables horizontal scrolling */
   white-space: nowrap; /* Prevents wrapping of child elements */
   z-index: 999;
}

.lift{
   display: inline-block;
   /* background: rgb(85, 85, 85); */
   background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(74,74,86,1) 39%, rgba(224,229,230,1) 100%);
   height: 100%;
   width: 50px;
   /* transform: translateY(10px); */
   position: relative;
   overflow: hidden;
   z-index: 9999;
   flex-shrink: 0;
}


.actualfloor{
   display: inline-block;
   height: 100%;
   width: 100px;
   text-align: center;
   padding-top: 30.5%;
   font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 1.1em;
}

.buttonContainer{
   display: inline-block;
   width: 100px;
   height: 100%;
}

.simulation-box{
   text-align: center;
}



.submitBtn{
   position: relative;
   background-color: rgb(212, 212, 212);
    padding: 5px 10px 5px 10px;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.45) 1.95px 1.95px 2.6px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); 
    transform: translateX(0px) translateY(0px);
    overflow: hidden;
    font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 1em;
}

.submitBtn:active{
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   transform: translateX(2px) translateY(2px);
}

.submitBtn::after {
   content: ''; /* Required for the pseudo-element to display */
   position: absolute; /* Position it absolutely within .submitBtn */
   top: 0;
   left: 0;
   right: 0;
   border-radius: 5%;
   visibility: hidden;
   border-radius: 24px;
   bottom: 0;
   background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent overlay */
   transform: translateY(100%); /* Start off-screen below the button */
   transition: transform 0.3s ease , visibility 0.3s ease; /* Transition effect for the transform property */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.redoBtn{
    /* height: 20px;
   width: 20px; */
   background: none;
   outline: none;
   border: none;
   cursor: pointer;
   padding: 10px;

}

.input-field{
   width: 83px;
   height: 36px;
   border: 2px solid black;
   padding-left: 3px;
   font-weight: bold;
   text-align: center;
   outline: none;
   font-size: 23px;
}

.input-field::placeholder{
   padding-left: 3px;
}

/* .left-door{ 
   background-color: black;
   height: 100%;
   width: 50%;
   position: absolute;
   display: inline-block;
   margin-left: 0%;
   transition: leftDoorAnimation 1.5s ease-in-out;
} */

.floor-btn{
   display: inline-block;
    cursor: pointer;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "MORF" 15, "SHLN" 50;
    font-size: 20px;
    border: 1px solid #cfcfcf;
    outline: 0;
    border-radius: 10px;
    padding: 3px 0px 3px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px
}

.floor-btn:active{
   transform: scale(.95)

}


.buttonContainer{

   display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left-door{ 
   background-color: black;
   height: 100%;
   width: 50%;
   position: absolute;
   display: inline-block;
   margin-left: 0%;
   /* transition: leftDoorAnimation 1.5s ease-in-out; */
   background: rgb(83,83,83);
   background: linear-gradient(90deg, rgba(83,83,83,1) 2%, rgba(0,0,0,1) 100%);
   border-right: 1px solid gray;
   z-index: 50;
   
}

.right-door{ 
   height: 100%;
   width: 50%;
   position: absolute;
   display: inline-block;
   margin-left: 50%;
   /* transition: all 1.5s ease-in-out; */
   background: rgb(83,83,83);
   background: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(83,83,83,1) 100%);
   border-left: 1px solid gray;
   z-index: 50;
}

.left-door-animation{
   animation: leftDoorAnimation 2.5s ease-in-out;
}

.right-door-animation{
   animation: rightDoorAnimation 2.5s ease-in-out;
}

.counter{
   position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    z-index: 25;
    font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 1.3em;
}

@keyframes leftDoorAnimation {
   0%{
      margin-left: 0%;
   }
   50%{
      margin-left: -50%;
   }
   100%{
      margin-left: 0%;
   }
}

@keyframes rightDoorAnimation {
   0%{
      margin-left: 50%;
   }
   50%{
      margin-left: 100%;
   }
   100%{
      margin-left: 50%;
   }
}


@media only screen and (max-width: 600px) {
   .buttonContainer{
      width: 60px !important;
   }

   .actualfloor{
      width: 60px;
   }

   .floor-btn{
      height: 30px;
   }
}